.speech{
    font-family:'Times New Roman', Times, serif;
    font-size:larger;
    color:red;
}
.speech:hover{
    color:royalblue;
}
.stage_direction{
    font-family:'Times New Roman', Times, serif;
    font-size:large;
    color:seagreen;
}
.stage_direction:hover{
    color: rgb(233, 21, 233);
}
.name{
    font-family: monospace;
    font-size: large;
    color:brown;
}
.name:hover{
    color:deeppink;
}
.ALGERNON {
    color:gold;
    font-size: larger;
}
.LANE{
    color:limegreen;
}
table{
    border:red;
    text-align: left;
    color:cyan;
    border:1px solid red
}
th{
    border:red;
    text-align: left;
    color:goldenrod;
    border:1px solid black
}
td{
    border:red;
    text-align: left;
    color:blueviolet;
    border:1px solid black
}