.speech{
    font-family:'Times New Roman', Times, serif;
    font-size:larger;
    color:red;
}
.speech:hover{
    color:royalblue;
}
.stage-direction{
    font-family:'Times New Roman', Times, serif;
    font-size:large;
    color:seagreen;
}
.stage-direction:hover{
    color: rgb(233, 21, 233);
}
.name{
    font-family: monospace;
    font-size: large;
    color:brown;
}
.name:hover{
    color:deeppink;
}
.ALGERNON {
    color:gold;
}
.LANE{
    color:limegreen;
}